{{ define "index" }}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Your go-to source for Fullstack Development and Tech Insights</title>

  <!-- Meta Tags -->
  <meta name="description"
    content="Ckefa Blog delivers expert analysis, tutorials, and in-depth content on full-stack development, programming languages, and the latest technology trends for developers and tech enthusiasts." />
  <meta name="keywords"
    content="full-stack development, backend, frontend, Golang, JavaScript, webdev, web design, programming, cloud computing, server-side rendering, DevOps, API development, databases, software engineering, tech gadgets">

  <!-- Open Graph Tags -->
  <meta property="og:title" content="Your go-to source for Fullstack Development and Tech Insights">
  <meta property="og:description"
    content="Stay updated with the latest tutorials, trends, and insights on full-stack development and technology." />
  <meta property="og:image" content="/main/ckefa.jpg"> <!-- Add a link to an image -->
  <meta property="og:url" content="https://www.ckefa.com">
  <meta property="og:type" content="homepage">

  <!-- Twitter Card -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Your go-to source for Fullstack Development and Tech Insights">
  <meta name="twitter:description"
    content="Ckefa Blog offers insightful articles on the latest in full-stack development, backend technologies, and more." />
  <meta name="twitter:image" content="/main/ckefa.jpg"> <!-- Add a link to an image -->

  <meta name="robots" content="index, follow">

  {{ template "plugin" }}
</head>

<body class="flex flex-col ">
  {{ template "navbar" . }}

  <main class="container px-3 max-w-full">

    <!-- DateTime Widget -->
    <div id="datetime-widget" class="bg-gray-100 border border-gray-300 rounded-lg text-center">
      <h2 class="text-xl font-bold text-gray-700">Today</h2>
      <p id="current-date" class="text-lg text-gray-600"></p>
      <p id="current-time" class="text-2xl font-semibold text-gray-800"></p>
    </div>

    <section class="bg-gray-600 text-white py-20">
      <div class="container mx-auto text-center">
        <h1 class="text-4xl font-bold">Stay Updated with Fullstack Development and Tech Insights</h1>
        <p class="mt-4 text-lg">Your go-to source for the latest trends in technology, programming, and development techniques.</p>
        <a href="#featured-articles"
          class="mt-6 inline-block bg-white text-blue-600 py-2 px-4 rounded-full font-semibold">Explore Tutorials</a>
      </div>
    </section>

    <!-- Featured Articles -->
    <section id="featured-articles" class="container mx-auto py-16">
      <h2 class="text-3xl font-bold mb-8 text-center">Featured Tech Tutorials</h2>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">

        <article class="bg-white shadow rounded-lg overflow-hidden">
          <img src="/main/golang.jpg" loading="lazy" alt="Golang Development"
            class="w-full h-auto sm:h-48 md:h-64 lg:h-80 object-cover">
          <div class="p-5">
            <h3 class="text-2xl font-bold mb-3">Mastering Golang for Backend Development</h3>
            <p class="text-gray-700">In-depth tutorials on Golang backend architecture, APIs, and microservices.</p>
            <a href="#" class="text-blue-600 hover:underline mt-3 inline-block">Read More</a>
          </div>
        </article>

        <article class="bg-white shadow rounded-lg overflow-hidden">
          <img src="/main/js_frameworks.jpg" loading="lazy" alt="JavaScript Frameworks"
            class="w-full h-auto sm:h-48 md:h-64 lg:h-80 object-cover">
          <div class="p-5">
            <h3 class="text-2xl font-bold mb-3">Exploring Popular JavaScript Frameworks</h3>
            <p class="text-gray-700">Learn how to use React, Vue, and Svelte to build modern web applications.</p>
            <a href="#" class="text-blue-600 hover:underline mt-3 inline-block">Read More</a>
          </div>
        </article>
        
        <article class="bg-white shadow rounded-lg overflow-hidden">
          <img src="/main/cloud_computing.jpg" loading="lazy" alt="Cloud Deployment"
            class="w-full h-auto sm:h-48 md:h-64 lg:h-80 object-cover">
          <div class="p-5">
            <h3 class="text-2xl font-bold mb-3">Deploying Applications to the Cloud</h3>
            <p class="text-gray-700">Step-by-step guides to deploying your web applications on AWS, GCP, and Azure.</p>
            <a href="#" class="text-blue-600 hover:underline mt-3 inline-block">Read More</a>
          </div>
        </article>

      </div>
    </section>

      {{ template "subscribe" }}

    <!-- Categories Section -->
    <section class="bg-gray-200 py-16">
      <div class="container mx-auto">
        <h2 class="text-3xl font-bold mb-8 text-center">Explore Development Topics</h2>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
          <div class="bg-white shadow rounded-lg p-5 text-center">
            <h3 class="text-xl font-bold mb-4">Backend Development</h3>
            <p class="text-gray-700">Explore tutorials and best practices for building robust backend systems.</p>
          </div>
          <div class="bg-white shadow rounded-lg p-5 text-center">
            <h3 class="text-xl font-bold mb-4">Frontend Development</h3>
            <p class="text-gray-700">Learn about the latest JavaScript frameworks, CSS techniques, and UI/UX design.</p>
          </div>
          <div class="bg-white shadow rounded-lg p-5 text-center">
            <h3 class="text-xl font-bold mb-4">Cloud and DevOps</h3>
            <p class="text-gray-700">Get insights into cloud infrastructure, deployment strategies, and CI/CD pipelines.</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Recent Posts -->
    <section class="container mx-auto py-16">
      <h2 class="text-3xl font-bold mb-8 text-center">Recent Posts</h2>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">

        <article class="bg-white shadow rounded-lg overflow-hidden">
          <img src="/tech/servervirtz.jpg" loading="lazy" alt="Post Image" class="w-full h-auto">
          <div class="p-5">
            <h3 class="text-2xl font-bold mb-3">Server-Side Rendering with Go</h3>
            <p class="text-gray-700">Explore how to implement efficient server-side rendering using Go.</p>
            <a href="/tech/server-rendering" class="text-blue-600 hover:underline mt-3 inline-block">
              Learn about Go Server-Side Rendering
            </a>
          </div>
        </article>

        <article class="bg-white shadow rounded-lg overflow-hidden">
          <img src="/tech/remote_work.jpg" loading="lazy" alt="Post Image" class="w-full max-h-52">
          <div class="p-5">
            <h3 class="text-2xl font-bold mb-3">The Future of Remote Work:</h3>
            <p class="text-gray-700">The Future of Remote Work: Emerging Trends and Tools for a Distributed Workforce
            </p>
            <a href="/tech/future-of-remote-work" class="text-blue-600 hover:underline mt-3 inline-block">Discover The
              Future Of Remote Work
            </a>
          </div>
        </article>
          
        <!--     <h3 class="text-2xl font-bold mb-3">Building CI/CD Pipelines</h3> -->
        <!--     <h3 class="text-2xl font-bold mb-3">Optimizing Golang Applications</h3> -->
      </div>
    </section>

  </main>

  {{ template "footer" . }}
</body>

  <script>
  function updateDateTime() {
    const now = new Date();
    const options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
    const date = now.toLocaleDateString('en-US', options);
    const time = now.toLocaleTimeString('en-US', { hour: '2-digit', minute: '2-digit', second: '2-digit' });

    document.getElementById('current-date').textContent = date;
    document.getElementById('current-time').textContent = time;
  }

  setInterval(updateDateTime, 1000); // Update every second
  updateDateTime(); // Initial call to display immediately
</script>
</html>
{{ end }}
