{{ define "index" }}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Your go-to source for trending topics on tech, lifestyle, business and news</title>

  <!-- Meta Tags -->
  <meta name="description"
    content="Ckefa Blog offers insightful articles on the latest in technology, innovation, lifestyle and beyond. Discover expert analysis, trends, and in-depth content tailored for tech enthusiasts and professionals." />
  <meta name="keywords"
    content="Ckefa, ckefablog, ckefa.com, trending topics, technology trends, tech gadgets, lifestyle tips, business insights, finance, startups, mental health, wellness, health trends, entrepreneurship, news articles, server-side rendering, Golang, backend, webdev, webdesign, python">

  <!-- Open Graph Tags -->
  <meta property="og:title" content="Your go-to source for trending topics on tech, lifestyle, business and news">
  <meta property="og:description"
    content="Discover how a digital detox can reduce stress, boost productivity, and improve your overall well-being.">
  <meta property="og:image" content="/main/ckefa.jpg"> <!-- Add a link to an image -->
  <meta property="og:url" content="https://www.ckefa.com">
  <meta property="og:type" content="homepage">

  <!-- Twitter Card -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Your go-to source for trending topics on tech, lifestyle, business and news">
  <meta name="twitter:description"
    content="Ckefa Blog offers insightful articles on the latest in technology, innovation, and beyond. Discover expert analysis, trends, and in-depth content tailored for tech enthusiasts and professionals.">
  <meta name="twitter:image" content="/main/ckefa.jpg"> <!-- Add a link to an image -->

  <meta name="robots" content="index, follow">

  {{ template "plugin" }}
</head>

<body class="flex flex-col ">
  {{ template "navbar" . }}

  <main class="container px-3 max-w-full">
    <section class="bg-gray-600 text-white py-20">
      <div class="container mx-auto text-center">
        <h1 class="text-4xl font-bold">Stay Updated with the Latest Trending Topics</h1>
        <p class="mt-4 text-lg">Your go-to source for the latest news, technology, and lifestyle trends.</p>
        <a href="#featured-articles"
          class="mt-6 inline-block bg-white text-blue-600 py-2 px-4 rounded-full font-semibold">Explore Now</a>
      </div>
    </section>

    <!-- Featured Articles -->
    <section id="featured-articles" class="container mx-auto py-16">
      <h2 class="text-3xl font-bold mb-8 text-center">Featured Articles</h2>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">

        <article class="bg-white shadow rounded-lg overflow-hidden">
          <img src="/tech/tech.jpg" loading="lazy" alt="Tech Image"
            class="w-full h-auto sm:h-48 md:h-64 lg:h-80 object-cover">
          <div class="p-5">
            <h3 class="text-2xl font-bold mb-3">Tech World</h3>
            <p class="text-gray-700">A brief summary of the article. It covers a trending topic in technology.</p>
            <a href="#" class="text-blue-600 hover:underline mt-3 inline-block">Read More</a>
          </div>
        </article>

        <article class="bg-white shadow rounded-lg overflow-hidden">
          <img src="/lifestyle/lifestyle.jpg" loading="lazy" alt="Lifestyle Image"
            class="w-full h-auto sm:h-48 md:h-64 lg:h-80 object-cover">
          <div class="p-5">
            <h3 class="text-2xl font-bold mb-3">LifeStyle</h3>
            <p class="text-gray-700">A brief summary of the article. It covers the latest in lifestyle trends.</p>
            <a href="#" class="text-blue-600 hover:underline mt-3 inline-block">Read More</a>
          </div>
        </article>

        <article class="bg-white shadow rounded-lg overflow-hidden">
          <img src="/news/news.jpg" loading="lazy" alt="News Image"
            class="w-full h-auto sm:h-48 md:h-64 lg:h-80 object-cover">
          <div class="p-5">
            <h3 class="text-2xl font-bold mb-3">Trending News</h3>
            <p class="text-gray-700">A brief summary of the article. It dives into a trending news story.</p>
            <a href="#" class="text-blue-600 hover:underline mt-3 inline-block">Read More</a>
          </div>
        </article>

      </div>
    </section>

    <!-- Categories Section -->
    <section class="bg-gray-200 py-16">
      <div class="container mx-auto">
        <h2 class="text-3xl font-bold mb-8 text-center">Explore Categories</h2>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
          <div class="bg-white shadow rounded-lg p-5 text-center">
            <h3 class="text-xl font-bold mb-4">Technology</h3>
            <p class="text-gray-700">Latest updates on tech trends, gadgets, and software development.</p>
          </div>
          <div class="bg-white shadow rounded-lg p-5 text-center">
            <h3 class="text-xl font-bold mb-4">Lifestyle</h3>
            <p class="text-gray-700">Trending topics in health, fashion, and daily living.</p>
          </div>
          <div class="bg-white shadow rounded-lg p-5 text-center">
            <h3 class="text-xl font-bold mb-4">Business</h3>
            <p class="text-gray-700">Insights into the world of finance, startups, and entrepreneurship.</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Recent Posts -->
    <section class="container mx-auto py-16">
      <h2 class="text-3xl font-bold mb-8 text-center">Recent Posts</h2>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">

        <article class="bg-white shadow rounded-lg overflow-hidden">
          <img src="/lifestyle/nutriousbrain.jpg" loading="lazy" alt="Post Image" class="w-full">
          <div class="p-5">
            <h3 class="text-2xl font-bold mb-3">Mental Health</h3>
            <p class="text-gray-700">Prioritizing your mental health. Get tips on how to improve your mental health.</p>
            <a href="/lifestyle/prioritizing-mental-health" class="text-blue-600 hover:underline mt-3 inline-block">
              Read about Prioritizing Mental Health
            </a>
          </div>
        </article>

        <article class="bg-white shadow rounded-lg overflow-hidden">
          <img src="/tech/servervirtz.jpg" loading="lazy" alt="Post Image" class="w-full h-[8]">
          <div class="p-5">
            <h3 class="text-2xl font-bold mb-3">Server Sider Rendering with Golang</h3>
            <p class="text-gray-700">A summary of the serverside rendering.It focuses on golang server-side rendering
              technology.</p>
            <a href="/tech/golang-server-side-rendering" loading="lazy"
              class="text-blue-600 hover:underline mt-3 inline-block">
              Learn about Golang Server-Side Rendering
            </a>
          </div>
        </article>

        <article class="bg-white shadow rounded-lg overflow-hidden">
          <img src="/tech/remote_work.jpg" loading="lazy" alt="Post Image" class="w-full max-h-52">
          <div class="p-5">
            <h3 class="text-2xl font-bold mb-3">The Future of Remote Work:</h3>
            <p class="text-gray-700">The Future of Remote Work: Emerging Trends and Tools for a Distributed Workforce
            </p>
            <a href="/tech/future-of-remote-work" class="text-blue-600 hover:underline mt-3 inline-block">Discover The
              Future Of Remote Work
            </a>
          </div>
        </article>
      </div>
    </section>

  </main>

  {{ template "footer" .}}
</body>


</html>
{{ end }}
