[Unit]
Description=Ckefa.com blog website service
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/apps/ckefablog/
ExecStart=/apps/ckefablog/bin/app
StandardOutput=append:/var/log/ckefablog.log
StandardError=append:/var/log/ckefablog.err.log
Restart=always


[Install]
WantedBy=multi-user.target

