{{ define "signup" }}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Signup</title>
	<script src="https://unpkg.com/htmx.org@2.0.2"></script>

	<!-- Favicon -->
	<link rel="icon" type="image/png" href="/main/ckefa.jpg">

	{{ template "tailwind" }}
</head>

<body>
	{{ template "nav" }}

	<div class="bg-gray-100 flex justify-center h-screen">

		<div class="mt-16 h-[60vh] w-full max-w-md bg-white rounded-lg shadow-lg p-8">
			<h2 class="text-2xl font-bold text-center text-gray-800">Signup</h2>

			<form hx-post="/signup" class="mt-4 space-y-4">
				<!-- Names Input -->
				<div class="flex space-x-4">
					<div>
						<label for="fname" class="block text-gray-700 font-medium">First
							Name</label>
						<input id="fname" name="fname" type="text"
							class="w-full px-10 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring focus:border-blue-500"
							placeholder="ie. john" required />

					</div>
					<div>
						<label for="lname" class="block text-gray-700 font-medium">Last
							Name</label>
						<input id="lname" name="lname" type="text"
							class="w-full px-10 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring focus:border-blue-500"
							placeholder="ie. doe" required />

					</div>

				</div>
				<!-- Email Input -->
				<div>
					<label for="email" class="block text-gray-700 font-medium">Email</label>
					<div class="relative mt-1">
						<input id="email" name="email" type="email"
							class="w-full px-10 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring focus:border-blue-500"
							placeholder="Enter your email" required />
						<!-- Email Icon -->
						<svg xmlns="http://www.w3.org/2000/svg"
							class="absolute left-2 top-2.5 h-6 w-6 text-gray-400"
							viewBox="0 0 24 24" fill="none" stroke="currentColor"
							stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
							<path
								d="M16 12H3m13 0v9m0-9L8 7l-5 5M3 9V3a2 2 0 012-2h14a2 2 0 012 2v14a2 2 0 01-2 2H5a2 2 0 01-2-2V9z" />
						</svg>
					</div>
				</div>

				<!-- Password Input -->
				<div>
					<label for="passwd" class="block text-gray-700 font-medium">Password</label>
					<div class="relative mt-1">
						<input id="passwd" name="passwd" type="password"
							class="w-full px-10 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring focus:border-blue-500"
							placeholder="Enter your password" required />
						<!-- Password Icon -->
						<svg xmlns="http://www.w3.org/2000/svg"
							class="absolute left-2 top-2.5 h-6 w-6 text-gray-400"
							viewBox="0 0 24 24" fill="none" stroke="currentColor"
							stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
							<rect width="20" height="14" x="2" y="7" rx="2" ry="2" />
							<path d="M16 7V3a4 4 0 00-8 0v4" />
						</svg>
					</div>
				</div>

				<!-- Submit Button -->
				<button type="submit"
					class="w-full py-2 bg-blue-600 text-white rounded-md font-semibold hover:bg-blue-700 transition duration-300">Signup</button>
			</form>

			<!-- Extra Links -->
			<div class="mt-4 text-center">
				<p class="text-sm mt-2">I have an account? <a href="/login"
						class="text-blue-500 hover:underline">Login</a></p>

			</div>
		</div>
	</div>

</body>

</html>

{{ end }}
